*.iml
/.idea
/build
/lib/*
.gradle/
/.settings/
/out/
/bin/
/*/build
/*/out
/run
/run2
/crash-reports
/FoxLoader-*.zip
hs_err_pid*.log
*.jfr
*~

/.vscode
/.project
/.classpath
/.profileconfig.json
/local.properties

/loader/libs/*.jar
/loader/patched/*.jar
